<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8"/>
<title>menu</title>
</head>
<body>
<aside id="menu" th:fragment="menu">
   <div id="navigation">
        <div class="profile-picture">
            <a href="index-2.html">
                <img th:src="@{/images/profile.jpg}" class="img-circle m-b" alt="logo"/>
            </a>

            <div class="stats-label text-color">
                <span class="font-extra-bold font-uppercase">Robert Razer</span>

                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        <small class="text-muted">Founder of App <b class="caret"></b></small>
                    </a>
                    <ul class="dropdown-menu animated flipInX m-t-xs">
                        <li><a href="contacts.html">Contacts</a></li>
                        <li><a href="profile.html">Profile</a></li>
                        <li><a href="analytics.html">Analytics</a></li>
                        <li class="divider"></li>
                        <li><a href="login.html">Logout</a></li>
                    </ul>
                </div>


                <div id="sparkline1" class="small-chart m-t-sm"></div>
                <div>
                    <h4 class="font-extra-bold m-b-xs">
                        $260 104,200
                    </h4>
                    <small class="text-muted">Your income from the last year in sales product X.</small>
                </div>
            </div>
        </div>

        <ul class="nav" id="side-menu">
            <li>
                <a href="#" th:href="@{/perfil}"> <span class="nav-label">Perfil</span> <span class="label label-success pull-right">v.1</span> </a>
            </li>
            <li>
                <a href="#" th:href="@{/representante/cuentas}" sec:authorize="hasAuthority('admin')" > <span class="nav-label">Cuentas</span><span class="label label-warning pull-right">NEW</span> </a>
            </li>  
            <li>
                <a href="#"><span class="nav-label">Vivienda</span><span class="fa arrow"></span> </a>
                <ul class="nav nav-second-level">
                    <li class="active"><a th:href="@{/notificaciones}" href="#">Mis viviendas</a></li>
                    <li><a href="#">Admin viviendas</a></li>
                </ul>
            </li>
                    
            <li class="active">
                <a href="#"><span class="nav-label">Mensajeria</span><span class="fa arrow"></span> </a>
                <ul class="nav nav-second-level">
                    <li class="active"><a th:href="@{/notificaciones}" href="#">Notificaciones</a></li>
                    <li><a href="#">Sanciones</a></li>
                    <li><a href="#">Quejas</a></li>
                </ul>
            </li>
           

        </ul>
    </div>
</aside>
</body>
</html>